header {
  width: 90%;
  margin: auto;
}

header div  {
  border: 2px solid black;
  font-size: 1.5vw;
  padding: 30px;
}

header div h1 {
  font-size: 3vw;
  font-family: 'Belanosima', sans-serif;
  width: max-content;
  margin: auto;
}

#show-rounds-left {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.25vw;
  text-align: center;
}

.main-grid-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-columns: minmax(minimum, maximum);
  grid-auto-rows: minmax(auto, auto);
  grid-template-areas:
  "sidebar img img img"
  "sidebar content content content"
  ;
}

.main-grid-container div {
  border: 2px solid black;
  font-size: 1.5vw;
  padding: 30px;
}

#chart-container {
  grid-area: sidebar;
  /* width:max-content; */
}

#chart-header {
  /* border: 3px solid purple; */
  /* background-color: lightgreen; */
  padding: 5px;
  margin: auto;
  margin-bottom: 0px;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
}

#chart-data {
  border: none;
}

#chart-container p {
  font-size: .9vw;
  text-align: center;
  margin-top: 4px;
}

#show-results-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  font-weight: bold;
  transition: 350ms;  
  border-radius: 8px;
}

#show-results-btn:hover {
  font-size: 1.10vw;
  background-color: #ddd;
  color:#444;
  cursor: pointer; 
}

#image-container {
  grid-area: img;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#image-container div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

img {
  width: 97%;
  font-weight: bold;
  transition: 350ms;
}

img:hover {
  width: 100%;
  cursor: pointer; 
}

figcaption {
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
}

#team-message-container {
  grid-area: content;
  margin-top: 0;
  line-height: 2vw;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

footer {
  width: 90%;
  margin: auto;
  display: grid;
  grid-auto-rows: minmax(auto, auto);
  text-align: center;
}

footer div {
  border: 2px solid black;
  font-size: 1.5vw;
  padding: 30px;
}



